@model Pedido 

@{
    Layout = "_Layout";
}
<script>
  
</script>

<div class="container">
     <div class="col-sm-10">
      <h5 class="text-danger">Pedido</h5>
    </div>
  <form action="/pedido/create" method="POST">
         

     <div class="form-group">
      <label class="control-label col-sm-2" for="nome">Valor Troco:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Valor_Troco" placeholder="Informe sua nota para troco" name="Valor_Troco" asp-for="Valor_Troco">
                <span asp-validation-for="Valor_Troco"></span>
            </div>
    </div>

    <div class="form-group">
         <div class="col-sm-10">
            <label class="control-label col-sm-2" for="tipo_pagamento">Pagamento:</label>
              <select class="form-control" asp-for="Valor_Troco">
                <option value="1" >Dinheiro</option>
              </select>
          </div>
   
    </div>
       
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-danger">Salvar</button>
        <a href="/" class="btn btn-default">Voltar</a>
    </div>
    </div>
  </form>
</div>

    
    
    
    