@model Empresa

<div class="container">
  <h2 class="text-danger">Dados da Empresa</h2>
  <br/>
  <form action="/empresa/create" method="POST">
    <div class="form-group">
      <label class="control-label col-sm-2" for="Nome">Nome:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Nome" asp-for="Nome">
        <span asp-validation-for="Nome"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-12" for="Cnpj">CNPJ:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control cnpj"  placeholder="CNPJ"  asp-for="Cnpj">
        <span asp-validation-for="Cnpj"></span>
     </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-12" for="Telefone">Telefone da Empresa:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control phone_with_ddd" placeholder="Telefone" asp-for="Telefone">
        <span asp-validation-for="Telefone"></span>
     </div>
    </div>
    <br/>
    <h2 class="text-danger">Endereço da Empresa</h2>
    <br/>
    <div class="form-group">
      <label class="control-label col-sm-12" for="Cep">CEP:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control cep" placeholder="CEP" asp-for="Endereco.Cep">
        <span asp-validation-for="Endereco.Cep"></span>
     </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-12" for="Rua">Rua:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" placeholder="RUA" asp-for="Endereco.Rua">
        <span asp-validation-for="Endereco.Rua"></span>
     </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-12" for="Numero">Número:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" placeholder="Número" asp-for="Endereco.Numero">
        <span asp-validation-for="Endereco.Numero"></span>
     </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-12" for="Complemento">Complemento:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" placeholder="Complemento" asp-for="Endereco.Complemento">
        <span asp-validation-for="Endereco.Complemento"></span>
     </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-12" for="Bairro">Bairro:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" placeholder="Bairro" asp-for="Endereco.Bairro">
        <span asp-validation-for="Endereco.Bairro"></span>
     </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-12" for="Cidade">Cidade:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control"  placeholder="Cidade" asp-for="Endereco.Cidade">
        <span asp-validation-for="Endereco.Cidade"></span>
     </div>
    </div>

    <br/>
    <h2 class="text-danger">Dados do Login</h2>
    <br/>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">E-mail:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control"  placeholder="E-mail"  asp-for="Usuario.Email">
        <span asp-validation-for="Usuario.Email"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="senha">Senha:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" placeholder="Senha"  asp-for="Usuario.Senha">
        <span asp-validation-for="Usuario.Senha"></span>
     </div>
    </div>

    <br/>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-danger">Salvar</button>
      </div>
    </div>
  </form>
</div>
