@model Endereco
@{
    Layout = "_Layout";
}
<div class="container">
  <div class="form-group">
    <div class="col-sm-10">
      <h5 class="text-danger">Cadastre seu endereco</h5>
    </div>
    </div>
  <form action="/endereco" method="POST">
   <div class="form-group">
      <label class="control-label col-sm-2" for="cep">Cep:</label>
            <div class="col-sm-10">
                <input type="cep" class="form-control" id="cep" placeholder="Cep" name="cep" asp-for="Cep">
                <span asp-validation-for="Cep"></span>
            </div>
    </div>
   <div class="form-group">
      <label class="control-label col-sm-2" for="bairro">Bairro:</label>
            <div class="col-sm-10">
                <input type="bairro" class="form-control" id="bairro" placeholder="Informe seu bairro" name="bairro" asp-for="Bairro">
                <span asp-validation-for="Bairro"></span>
            </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="rua">Rua:</label>
            <div class="col-sm-10">
                <input type="rua" class="form-control" id="rua" placeholder="Informe sua rua" name="rua" asp-for="Rua">
                <span asp-validation-for="Rua"></span>
            </div>
    </div>   
     <div class="form-group">
      <label class="control-label col-sm-2" for="numero">Número:</label>
            <div class="col-sm-10">
                <input type="numero" class="form-control" id="numero" placeholder="Informe seu número" name="numero" asp-for="Numero">
                <span asp-validation-for="Numero"></span>
            </div>
    </div>   
    <div class="form-group">
      <label class="control-label col-sm-2" for="complemento">Complemento:</label>
            <div class="col-sm-10">
                <input type="complemento" class="form-control" id="complemento" placeholder="Complemento" name="complemento" asp-for="Complemento">
                <span asp-validation-for="Complemento"></span>
            </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="cidade">Cidade:</label>
            <div class="col-sm-10">
                <input type="cidade" class="form-control" id="cidade" placeholder="Cidade" name="complemento" asp-for="Cidade">
                <span asp-validation-for="Cidade"></span>
            </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-danger">Salvar</button>
    </div>
    </div>
  </form>
</div>

    
    
    
    